* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 250px;
  font-size: 3.5rem;
  border: 4px solid;
  padding: 40px;
  text-transform: uppercase;
  overflow-wrap: break-word;
}
