* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-is-awesome {
  width: 250px;
  font-size: 3.5rem;
  border: 4px solid;
  padding: 40px;
  text-transform: uppercase;
  container-type: inline-size;
  /*width: min-content;
   overflow-x: scroll;
    overflow-wrap: break-word;  */
}

.css-is-awesome > p {
  font-size: max(1rem, 19cqi);
}


/*
.css-is-awesome {
  scrollbar-width: auto;
  scrollbar-color: #fff #000;
}

.css-is-awesome ::-webkit-scrollbar {
  height: 24px;
}

.css-is-awesome ::-webkit-scrollbar-track {
  background: #000;
}

.css-is-awesome ::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100px;
  border: 5px solid #000;
}
*/
